body {
  font-family: 'Oswald', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: $color-primario;
  border-radius: 50px;
  border-right: 2px solid black;
}

.background {
  background-color: $color-oscuro;
}

.buttonHover {
  @include buttonHover
}

.galeriaMangaCartaButton {
  @include galeriaMangaCartaButton
}

h1 {
  color: $color-primario;
  font-weight: bold;
  display: inline;
}

h2 {
  color: $color-primario;
  font-weight: bold;
  display: inline;
}

h3 {
  font-size: 2rem;
  color: $color-primario;
  font-weight: bold;
  transition: 0.3s ease;
}