header {
    background-color: $color-oscuro2;
    border-bottom: 5px solid $color-oscuro;
}
  
.colorToggle{
    background-color: $color-medio;
}  

.alturaBusqueda{
    height: 40px;
    width: 180px;
}