@mixin buttonHover {
  color: $letras;
  text-shadow: 0 0 1px black;
  background-color: $color-medio;
  margin: 10px;
  border-radius: 5px;
  transition: 0.3s ease;

  &:hover {
    color: $color-oscuro3;
    background-color: $color-claro2;
  }
}

@mixin galeriaMangaCartaButton {
  background-color: $color-primario;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  margin-left: 20px;
  padding: 5px;
}

@mixin responsiveStyles {
  @media (max-width: 990px) {
    .numero {
      padding: 50px;
    }

    .titulo {
      padding: 5px;
    }
  }
}