$color-primario: #F27127;
$color-secundario: #B37049;
$color-terciario: #735A4C;
$complementario-claro: #27F2F1;
$complementario-oscuro: #4E9D9D;
$color-oscuro: #0f1014;
$color-oscuro2: #343846;
$color-oscuro3: #444b60;
$color-medio: #68738f;
$color-claro: #8791a9;
$color-claro2: #b1b8c8;
$letras: #d7bf9a;